<!-- footer.html -->
<footer class="content-footer footer bg-dark" style="margin-top: 100px;">
    <div class="container-fluid d-flex flex-md-row flex-column justify-content-between align-items-md-center gap-1 py-3">
        <div>
            <a href="salamsetara.com" target="_blank" class="footer-text fw-bold" style="color:white">Salam Mitra</a>
        </div>
        <div>
            <a href="javascript:void(0)" class="footer-link me-4" target="_blank" style="color:white">License</a>
            <a href="javascript:void(0)" class="footer-link me-4" style="color:white">Help</a>
            <a href="javascript:void(0)" class="footer-link me-4" style="color:white">Contact</a>
            <a href="javascript:void(0)" class="footer-link" style="color:white">Terms &amp; Conditions</a>
        </div>
    </div>
</footer>