<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/" data-template="vertical-menu-template-free">
<head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: fragment}" th:remove="tag"></object>
    <title>Detail Program | Salam Mitra</title>
</head>
<body>
    <div class="layout-wrapper layout-content-navbar layout-without-menu">
        <div class="layout-container">
            <div class="layout-page">
                <nav th:replace="~{fragments/navbar :: navbar('home')}"></nav>
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="text-center" style="padding-top: 3%; padding-bottom: 3%;">
                            <h1 class="display-3"><strong>Detail Program</strong></h1>
                        </div>

                        <div>

                            <div th:if="${program.isDeleted}"class="text-center">
                                <h6>Halaman tidak tersedia karena program ini sudah dihapus!</h6>
                                <a href="view-daftar-program.html" class="btn btn-primary">Kembali ke daftar program</a>
                                <div class="text-center">
                                    <img
                                        src="../assets/img/illustrations/page-misc-error-light.png"
                                        alt="page-misc-error-light"
                                        width="500"
                                        class="img-fluid mt-4"
                                    />
                                </div>
                            </div>

                            <div th:unless="${program.isDeleted}">
        
                                <div style="display: flex; justify-content: end; align-items: center; margin: 0 35px 35px 35px;">
                                
                                    <div>
                                        <th:block th:if="${role == 'admin_PROGRAM'}">
                                            <a th:href="@{'/edit-program-' + ${program.id}}" class="btn btn-primary" style="margin-right: 5px; padding: 5px 10px;"><i class="bx bx-edit"></i></a>
                                            <!-- Button to trigger delete modal -->
                                            <button data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger" style="padding: 5px 10px;">
                                                <i class="bx bx-trash"></i>
                                            </button>
                                        </th:block>
                                        <th:block th:if="${role == 'mitra'}">
                                            <a th:href="@{/tambah-pengajuan}" class="btn btn-primary" style="margin-right: 5px; padding: 5px 10px;">+ Buat Pengajuan</a>
                                            </button>
                                        </th:block>
                                    </div>
                                </div>                                
                                
                                <div style="display: flex; justify-content: center;">
                                    <div class="card" style="padding: 50px; width: 80rem;">
                                        <div class="alert alert-success" role="alert" th:text="${successMessage}" th:if="${successMessage}" style="margin-top: 10px;"></div>
                                        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}" style="margin-top: 10px;"></div>
                                        <div class="row">
                                            <div class="col-md-6"  style="margin-right: 10px; margin-bottom: 30px; max-width: 350px; height: auto;">
                                                <!-- Foto program -->
                                                <img class="img-fluid" th:if="${program.fotoProgram == null}" src="/assets/img/illustrations/placeholder-program.png" alt="Placeholder" style="border-radius: 5px;">
                                                <img class="img-fluid" th:unless="${program.fotoProgram == null}" th:src="'data:image/jpeg;base64,' + ${program.imageBase64}" alt="Foto Program" style="border-radius: 5px;">
                                            </div>
                                
                                            <div class="col-md-6">
                                                <!-- Informasi program -->
                                                <div class="program-title">
                                                    <h2 th:text="${program.judul}" class="mb-4"></h2>
                                                </div>
                                                <div style="margin-bottom: 10px;">
                                                    <p style="font-weight: bold;">Kategori Program</p>
                                                    <div style="margin-left: 10px;">
                                                        <span th:text="${program.kategoriProgram}" class="badge bg-label-info" style="margin-bottom: 10px;"></span>
                                                    </div>
                                                </div>
                                                <div style="margin-bottom: 10px;">
                                                    <p style="font-weight: bold;">Kategori Asnaf <sup><i class="bx bx-info-circle bx-tada-hover" data-bs-toggle="modal" data-bs-target="#infoModal" style="margin-left: 2px; font-size: 16px; cursor: pointer; color: #FFAB00;"></i></sup></p>
                                                    <div style="margin-left: 10px;">
                                                        <span th:each="kategoriAsnaf : ${program.kategoriAsnaf}" class="badge bg-label-secondary" th:text="${kategoriAsnaf}" style="margin-right: 10px; margin-bottom: 10px;"></span>
                                                    </div>
                                                </div>
                                                <p style="font-weight: bold;">Provinsi</p>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <ul>
                                                            <li th:each="provinsi,iterStat : ${program.provinsi}" th:if="${iterStat.index % 2 == 0}" th:text="${provinsi}"></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <ul>
                                                            <li th:each="provinsi,iterStat : ${program.provinsi}" th:if="${iterStat.index % 2 != 0}" th:text="${provinsi}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div th:if="${not #lists.isEmpty(program.kabupatenKota)}">
                                                    <p style="font-weight: bold;">Kabupaten/Kota</p>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <ul>
                                                                <li th:each="kabupatenKota,iterStat : ${program.kabupatenKota}" th:if="${iterStat.index % 2 == 0}" th:text="${kabupatenKota}"></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <ul>
                                                                <li th:each="kabupatenKota,iterStat : ${program.kabupatenKota}" th:if="${iterStat.index % 2 != 0}" th:text="${kabupatenKota}"></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="margin-top: 10px;">
                                            <h5>Deskripsi Program</h5>
                                            <p th:text="${program.deskripsi}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal konfirmasi penghapusan -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Hapus Program</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p th:text="'Apakah Anda yakin ingin menghapus program dengan ID ' + ${program.id} + '?'"></p>
            </div>
            <div class="modal-footer" style="display: flex; justify-content: center;">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                <form id="deleteForm" th:action="@{/hapus-program-{id}(id=${program.id})}" method="post">
                    <button type="submit" class="btn btn-danger">Hapus</button>
                </form>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="infoModal" aria-labelledby="modalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalScrollableTitle">Penjelasan Kategori Asnaf</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <h6>A. Fakir</h6>
                <div style="margin: 20px;">
                    <p>
                        Merupakan orang yang sama sekali tidak mempunyai sumber mata penghasilan untuk memenuhi kebutuhan dasar.
                        <ul>
                            <li>Lansia yang tidak bisa bekerja</li>
                            <li>Anak yang belum baligh</li>
                            <li>Orang yang sakit atau cacat fisik/mental</li>
                            <li>Orang yang berjuang di jalan Allah tanpa menerima bayaran</li>
                            <li>Korban bencana alam dan/atau bencana sosial baik muslim maupun non-muslim</li>
                        </ul>
                    </p>
                </div>

            <h6>B. Miskin</h6>
                <div style="margin: 20px;">
                    <p>
                        Merupakan orang yang mempunyai sumber mata pencaharian tetapi tidak mempunya kemampuan kebutuhan dasar yang layak bagi 
                        kehidupan dirinya dan atau keluarga yang menjadi tanggungannya.
                        <ul>
                            <li>Orang yang tidak/kurang memiliki pengetahuan dan keterampilan</li>
                            <li>Orang yang tidak/kurang memiliki modal usaha</li>
                            <li>Orang yang tidak/kurang memiliki akses terhadap pasar</li>
                            <li>Orang yang tidak/kurang memiliki akses terhadap fasilitas pendidikan dan kesehatan</li>
                            <li>Orang yang tidak/kurang memiliki akses untuk beribadah</li>
                        </ul>
                    </p>
                </div>
            
            <h6>C. Amil</h6>
                <div style="margin: 20px;">
                    <p>
                        Merupakan seseorang atau sekelompok orang yang diangkat dan atau diberi kewenangan oleh pemerintah, 
                        pemerindah daerab, badan, lembaga yang diberikan izin oleh pemerintah dan atau pemerintah daerah dan/atau 
                        seseorang yang mendapat mandat dari pimpinan Pengelola Zakat untuk mengelola zakat.
                        <ul>
                            <li>Petugas amil zakat</li>
                        </ul>
                    </p>
                </div>

            <h6>D. Mualaf</h6>
                <div style="margin: 20px;">
                    <p>
                        Merupakan orang yang sedang dikuatkan keyakinannya karena baru masuk Islam.
                        <ul>
                            <li>Orang yang baru masuk Islam</li>
                            <li>Orang yang rentan permutadan</li>
                            <li>Orang non-muslim yang tertarik mempelajari agama Islam</li>
                        </ul>
                    </p>
                </div>

            <h6>E. Riqab</h6>
                <div style="margin: 20px;">
                    <p>
                        Merupakan orang yang kehilangan kemerdekaannya atau tersandera kebebasannya yang menyebabkan
                        tidak bisa beribadah dan atau bermuamalah.
                        <ul>
                            <li>Orang yang menjadi korban perdagangan manusia</li>
                            <li> Orang yang ditahan oleh musuh Islam</li>
                            <li>Orang yang terjajah dan atau teraniaya</li>
                        </ul>
                    </p>
                </div>
            
            <h6>F. Gharimin</h6>
                <div style="margin: 20px;">
                    <p>Merupakan orang yang berhutang untuk melaksanakan maslahat dan atau menghindari mudarat sesuai dengan syariat Islam                        
                        <ul>
                            <li>Orang yang berhutang untuk kemaslahatan diri dan keluarga secara tidak berlebihan seperti untuk nafkah, mengobati orang sakit, membangun rumah dan lain sebagainya</li>
                            <li>Orang yang berhutang untuk kemaslahatan umum seperti biaya mendamaikan dua orang muslim atau lebih yang beselisih</li>
                            <li>Orang yang berhutang untuk kemaslahatan umum lainnya, seperti membangun sarana ibadah</li>
                        </ul>
                    </p>
                </div>

            <h6>G. Fi Sabilillah</h6>
                <div style="margin: 20px;">
                    <p>
                        Merupakan orang yang sedang berjuang menegakkan syariat Islam, mengupayaka kemaslahatan dan
                        atau menjauhkan umat Islam dari kemudharatan.
                        <ul>
                            <li>Orang atau kelompok/lembaga yang sedang berjuang menegakkan kalimat Allah SWT</li>
                            <li>Orang yang secara ikhlas melaksanakan tuntutan agama baik tntutan wajib, sunnah, dan berbagai kebaikan lainnya dalam rangka mendekatkan diri kepada Allah SWT</li>
                            <li>Orang atau kelompok/lembaga yang secara ikhlas dan bersungguh-sungguh dalam menuntut ilmu yang bermanfaat bagi umat</li>
                            <li>Orang atau kelompok/lembaga yang sedang berjuang memperbaiki kondisi kemaslahatan bangsa dan umat Islam</li>
                        </ul>
                    </p>
                </div>

            <h6>H. Ibnu Sabil</h6>
                <div style="margin: 20px;">
                    <p>
                        Merupakan orang yang kehabisan biaya atau bekal dalam melakukan perjalanan dalam rangka melakukan sesuatu yang baik
                        <ul>
                            <li>Orang yang terlantar di perjalanan</li>
                            <li> Orang asing (pengungsi) beragama Islam yang terlantar di wilayah NKRI akibat perang, genosida dan bencana sosial yang terjadi di negara asalnya</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script>
        function removeAlerts() {
            setTimeout(function () {
                jQuery('.alert').fadeOut('fast', function () {
                    jQuery(this).remove();
                });
            }, 3000);
        }

        removeAlerts();
    </script>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
