<!DOCTYPE html>
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="UTF-8" />
    <object
      th:include="~{fragments/common :: fragment}"
      th:remove="tag"
    ></object>
    <title>Detail Pencairan | Salam Mitra</title>
    <style>
      .card {
        margin-bottom: 2%;
        margin-left: 4%;
        margin-right: 4%;
      }
    </style>
  </head>

  <body>
    <div class="layout-wrapper layout-content-navbar layout-without-menu">
      <div class="layout-container">
        <div class="layout-page">
          <nav th:replace="~{fragments/navbar :: navbar('pencairan')}"></nav>
          <div class="content-wrapper">
            <div class="container-xxl flex-grow-1 container-p-y">
              <div
                class="text-center"
                style="padding-top: 3%; padding-bottom: 3%"
              >
                <h1 class="display-3">
                  <strong
                    th:text="'Pencairan Pengajuan ' + ${pengajuan.id}"
                  ></strong>
                </h1>
              </div>

              <!-- Informasi Pengajuan -->
              <div class="card">
                <div class="card-header">
                  <h4>
                    <strong> Status Pencairan :</strong>
                    <th:block
                      th:if="${role == 'program_service' || role == 'manajemen'}"
                    >
                      <span
                        class="badge rounded-pill bg-label-danger me-1 text-wrap"
                        th:if="${pengajuan.status == 'Menunggu Pencairan Dana oleh Program Service'}"
                        th:text="${pengajuan.status}"
                      ></span>
                      <span
                        class="badge rounded-pill bg-label-warning me-1 text-wrap"
                        th:if="${pengajuan.status == 'Menunggu Pencairan Dana oleh Admin Finance'}"
                        th:text="${pengajuan.status}"
                      ></span>
                      <span
                        class="badge rounded-pill bg-label-success me-1 text-wrap"
                        th:unless="${pengajuan.status == 'Menunggu Pencairan Dana oleh Program Service' || pengajuan.status == 'Menunggu Pencairan Dana oleh Admin Finance'}"
                        >Sudah Dicairkan</span
                      >
                    </th:block>
                    <th:block th:if="${role == 'admin_FINANCE'}">
                      <span
                        class="badge rounded-pill bg-label-success me-1 text-wrap"
                        th:if="${pengajuan.status != 'Menunggu Pencairan Dana oleh Admin Finance'}"
                        >Sudah Dicairkan</span
                      >
                      <span
                        class="badge rounded-pill bg-label-danger me-1 text-wrap"
                        th:unless="${pengajuan.status != 'Menunggu Pencairan Dana oleh Admin Finance'}"
                        th:text="${pengajuan.status}"
                      ></span>
                    </th:block>
                  </h4>

                  <hr />
                </div>
                <div class="card-body">
                  <table class="table table-borderless">
                    <tr class="no-border">
                      <td>ID Pengajuan</td>
                      <td><span th:text="': ' + ${pengajuan.id}"></span></td>
                    </tr>
                    <tr class="no-border">
                      <td>Waktu Dibuat</td>
                      <td>
                        <span
                          th:text="': ' + ${#dates.format(pengajuan.waktuDibuat, 'HH:mm:ss dd/MM/yyyy')}"
                        ></span>
                      </td>
                    </tr>
                    <tr class="no-border">
                      <td>Nama Mitra</td>
                      <td>
                        <span th:text="': ' + ${pengajuan.namaMitra}"></span>
                      </td>
                    </tr>
                    <tr class="no-border">
                      <td>Nama Program</td>
                      <td>
                        <span th:text="': ' + ${pengajuan.namaProgram}"></span>
                      </td>
                    </tr>
                    <tr class="no-border">
                      <td>Nama Pemilik Rekening</td>
                      <td
                        th:text="': ' + ${pengajuan.namaPemilikRekening}"
                      ></td>
                    </tr>
                    <tr class="no-border">
                      <td>Bank & Nomor Rekening</td>
                      <td>
                        <span
                          th:text="': ' + ${pengajuan.bank} + ' - ' + ${pengajuan.nomorRekening}"
                        ></span>
                      </td>
                    </tr>
                    <tr class="no-border">
                      <td>Nominal Kebutuhan Dana</td>
                      <td
                        th:text="': Rp ' + ${pengajuan.nominalKebutuhanDana}"
                      ></td>
                    </tr>
                  </table>
                </div>
              </div>
              <!-- end -->

              <!-- Informasi Pencairan ke Rekening Salam Setara -->
              <div class="card">
                <div class="card-header">
                  <h4>
                    <strong
                      >Informasi Pencairan ke Rekening Salam Setara</strong
                    >
                  </h4>
                  <hr />
                </div>

                <div class="card-body">
                  <table class="table table-borderless">
                    <th:block
                      th:if="${pengajuan.status == 'Menunggu Pencairan Dana oleh Program Service'}"
                    >
                      <span
                        >Dana belum dicairkan ke rekening Salam Setara oleh
                        Program Service.</span
                      >
                    </th:block>
                    <th:block
                      th:unless="${pengajuan.status == 'Menunggu Pencairan Dana oleh Program Service'}"
                    >
                      <tr class="no-border">
                        <td>Source of Fund</td>
                        <td>
                          <span
                            th:text="': ' + ${pengajuan.pencairan.sourceOfFound}"
                          ></span>
                        </td>
                      </tr>
                      <tr class="no-border">
                        <td>Channeling</td>
                        <td>
                          <span
                            th:text="': ' + ${pengajuan.pencairan.channeling}"
                          ></span>
                        </td>
                      </tr>
                      <tr class="no-border">
                        <td>Jenis Dana</td>
                        <td>
                          <span
                            th:text="': ' + ${pengajuan.pencairan.jenisDana}"
                          ></span>
                        </td>
                      </tr>
                      <tr class="no-border">
                        <td>Link Pencairan</td>
                        <td>
                          <a
                            th:href="${pengajuan.pencairan.linkPencairan}"
                            target="_blank"
                            th:text="': ' +${pengajuan.pencairan.linkPencairan}"
                          ></a>
                        </td>
                      </tr>
                      <tr class="no-border">
                        <td>Tanggal Pencairan</td>
                        <td>
                          <span
                            th:text="': ' + ${#dates.format(pengajuan.pencairan.tanggalPencairanSalamSetara, 'HH:mm:ss dd/MM/yyyy')}"
                          ></span>
                        </td>
                      </tr>
                    </th:block>
                  </table>
                </div>
              </div>
              <!-- end -->

              <!-- Informasi Pencairan ke Rekening Mitra -->
              <div class="card">
                <div class="card-header">
                  <h4>
                    <strong>Informasi Pencairan ke Rekening Mitra</strong>
                  </h4>
                  <hr />
                </div>

                <div class="card-body">
                  <table class="table table-borderless">
                    <th:block
                      th:if="${pengajuan.status == 'Menunggu Pencairan Dana oleh Admin Finance' || pengajuan.status == 'Menunggu Pencairan Dana oleh Program Service'}"
                    >
                      <span
                        >Dana belum dicairkan ke rekening mitra oleh Admin
                        Finance.</span
                      >
                    </th:block>
                    <th:block th:if="${pengajuan.status == 'Menunggu Laporan'}">
                      <tr class="no-border">
                        <td>Tanggal Pencairan</td>
                        <td>
                          <span
                            th:text="': ' + ${#dates.format(pengajuan.pencairan.tanggalPencairanMitra, 'HH:mm:ss dd/MM/yyyy')}"
                          ></span>
                        </td>
                      </tr>
                      <tr class="no-border">
                        <td>Bukti Pencairan</td>
                        <td>
                          <img
                            th:src="'data:image/jpeg;base64,' + ${buktiPencairanMitra}"
                            style="max-width: 200px; height: auto"
                            alt="Bukti Pencairan ke Rekening Mitra"
                          />
                        </td>
                      </tr>
                    </th:block>
                  </table>
                </div>
              </div>
              <!-- end -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
  </body>
</html>
