<!DOCTYPE html>
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="UTF-8" />
    <object
      th:include="~{fragments/common :: fragment}"
      th:remove="tag"
    ></object>
    <title>Tambah Program | Salam Mitra</title>
    <style>
        .scrollable-checkbox {
            max-height: 200px;
            overflow-y: auto; 
            border-radius: 5px;
            padding: 10px;
            border: 1.2px solid rgba(218,223,227,255);
        }
    </style>
  </head>
<body>
    <div class="layout-wrapper layout-content-navbar layout-without-menu">
        <div class="layout-container">
            <div class="layout-page">
                <nav th:replace="~{fragments/navbar :: navbar('home')}"></nav>
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="text-center" style="padding-top: 3%; padding-bottom: 3%;">
                            <h1 class="display-3"><strong>Tambah Program</strong></h1>
                        </div>
                        <div class="container">
                            <div style="display: flex; justify-content: center;">
                                <form id="formTambahProgram" class="row g-3 card" style="padding: 50px; width: 50rem;" th:action="@{/tambah-program}" th:object="${programKerjaDTO}" method="POST" enctype="multipart/form-data">
                                    <div class="alert alert-danger alert-dismissible" role="alert" th:text="${error}" th:if="${error}">
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    <div>
                                        <label for="judul" style="font-weight: bold;">Judul Program <sup>*</sup></label>
                                        <input type="text" name="judul" id="judul" placeholder="Judul program" class="form-control" th:field="*{judul}" oninput="return checkTitleLength()" required>
                                        <small id="judulLengthMessage" style="color: red;"></small>
                                    </div>
                                    <div>
                                        <label for="kategoriProgram" style="font-weight: bold;">Kategori <sup>*</sup></label>
                                        <select name="kategoriProgram" id="kategoriProgram" class="form-select"  th:field="*{kategoriProgram}" required>
                                            <option value="">Pilih kategori program</option>
                                            <option th:each="kategori : ${daftarKategoriProgram}" th:value="${kategori}" th:text="${kategori}"></option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="kategoriAsnaf" style="font-weight: bold;">Kategori Asnaf <sup>*</sup></label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div th:each="kategori, iterStat : ${daftarKategoriAsnaf}" th:if="${iterStat.index % 2 == 0}" style="margin-left: 10px;">
                                                    <input class="form-check-input" type="checkbox" th:id="${kategori}" th:name="kategoriAsnaf" th:value="${kategori}" />
                                                    <label th:for="${kategori}" th:text="${kategori}"></label><br>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div th:each="kategori, iterStat : ${daftarKategoriAsnaf}" th:if="${iterStat.index % 2 != 0}" style="margin-left: 10px;">
                                                    <input class="form-check-input" type="checkbox" th:id="${kategori}" th:name="kategoriAsnaf" th:value="${kategori}" />
                                                    <label th:for="${kategori}" th:text="${kategori}"></label><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <label for="provinsi" style="font-weight: bold;">Provinsi <sup>*</sup></label>
                                        <div class="scrollable-checkbox">
                                            <input type="checkbox" id="selectAllProvinsi" class="selectAllCheckbox form-check-input" />
                                            <label for="selectAllProvinsi">Seluruh Indonesia</label><br>

                                            <div th:each="provinsi : ${daftarProvinsi}">
                                                <input type="checkbox" class="provinsi form-check-input" th:id="${provinsi}" th:name="provinsi" th:value="${provinsi}" />
                                                <label th:for="${provinsi}" th:text="${provinsi}"></label><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <label for="kabupatenKota" style="font-weight: bold;">Kabupaten/Kota</label>
                                        <div id="kabupatenKotaContainer" class="scrollable-checkbox"></div>
                                        <div>
                                            <small class="form-text text-muted">-  Opsi Kabupaten/Kota akan muncul sesuai dengan pilihan provinsi</small>
                                        </div>
                                        <small class="form-text text-muted">-  Kosongkan apabila lokasi berada di seluruh Kabupaten/Kota provinsi pilihan</small>
                                    </div>                            
                                    <div>
                                        <label for="deskripsi" style="font-weight: bold;">Deskripsi Program <sup>*</sup></label>
                                        <textarea type="text" name="deskripsi" id="deskripsi" placeholder="Deskripsi program" class="form-control" th:field="*{deskripsi}" required></textarea>
                                    </div>
                                    <div>
                                        <label for="fotoProgram" style="font-weight: bold;">Foto Program</label>
                                        <input type="file" name="foto" id="fotoProgram" class="form-control-file form-control" accept=".jpg, .png, .jpeg">
                                        <small class="form-text" id="fotoError" style="color: red;"></small>
                                    </div>
                                    <div class="text-center" style="margin-top: 50px;">
                                        <button onclick="window.location.href='/program'" class="btn btn-danger" style="margin-right: 10px;">Batal</button>
                                        <button class="btn btn-primary" type="submit" style="margin-left: 10px;">Simpan</button>                              
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // Flag to indicate whether AJAX call is in progress
            var ajaxCallInProgress = false;

            // Ketika checkbox provinsi diubah
            $('.provinsi').change(function() {
                // Check if AJAX call is already in progress
                if (ajaxCallInProgress) {
                    return; // If in progress, do nothing
                }

                var selectedProvinces = $('.provinsi:checked').map(function() {
                    return this.value;
                }).get(); // Ambil nilai provinsi yang dipilih

                // Kosongkan kontainer kabupaten/kota
                $('#kabupatenKotaContainer').empty();

                // Jika tidak ada provinsi yang dipilih, hentikan eksekusi selanjutnya
                if (!selectedProvinces || selectedProvinces.length === 0) return;

                // Set flag to indicate AJAX call is in progress
                ajaxCallInProgress = true;

                // Kirim permintaan AJAX untuk mendapatkan daftar kabupaten/kota berdasarkan provinsi yang dipilih
                $.ajax({
                    url: "/getKabupatenKotaByProvinsi",
                    type: "GET",
                    data: {
                        provinsi: selectedProvinces.join(',') // Gabungkan nilai-nilai provinsi dengan koma sebagai parameter
                    },
                    dataType: "json",
                    success: function(data) {
                        // Isi kontainer kabupaten/kota dengan opsi yang diperoleh dari respons
                        $.each(data, function(index, kabupatenKota) {
                            var checkbox = $('<input>').attr({ type: 'checkbox', name: 'kabupatenKota', value: kabupatenKota, id: kabupatenKota, class: 'form-check-input' }).css('margin-right', '5px');
                            var label = $('<label>').attr('for', kabupatenKota).text(kabupatenKota);
                            $('#kabupatenKotaContainer').append(checkbox).append(label).append('<br>');
                        });
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.error("AJAX request failed: " + textStatus, errorThrown);
                    },
                    complete: function() {
                        // Reset the flag after AJAX call is complete
                        ajaxCallInProgress = false;
                    }
                });
            });

            // Ketika checkbox "Select All" diubah
            $('#selectAllProvinsi').change(function() {
                var isChecked = $(this).is(':checked');
                $('.provinsi').prop('checked', isChecked).change(); // Pemicu perubahan pada checkbox provinsi

                // Jika "Select All" dicentang, hilangkan centang dari semua provinsi kecuali "Seluruh Indonesia"
                if (isChecked) {
                    $('.provinsi').not('#selectAllProvinsi').prop('checked', false).prop('disabled', true);
                } else {
                    $('.provinsi').prop('disabled', false);
                }
            });

            // Logic untuk simpan "Seluruh Indonesia" ke database jika opsi "Select All" dicentang
            $('#formTambahProgram').submit(function() {
                var allProvinsiChecked = $('#selectAllProvinsi').is(':checked');
                if (allProvinsiChecked) {
                    // Hapus semua nilai provinsi kecuali "Seluruh Indonesia"
                    $('.provinsi').not('#selectAllProvinsi').prop('checked', false);
                    // Jika opsi "Select All" dicentang, simpan "Seluruh Indonesia" ke database
                    $('<input>').attr({
                        type: 'hidden',
                        name: 'provinsi',
                        value: 'Seluruh Indonesia'
                    }).appendTo($(this));
                }
            });
        });
    </script>  
    
    <script>
        function checkTitleLength() {
            var maxLength = 50;
            var titleInput = document.getElementById("judul");
            var titleLength = titleInput.value.length;

            var messageElement = document.getElementById("judulLengthMessage");
            if (titleLength > maxLength) {
                messageElement.textContent = "Judul program tidak boleh lebih dari 50 karakter.";
            } else {
                messageElement.textContent = ""
            }
        }

        // Menambahkan event listener untuk form submission
        document.getElementById('formTambahProgram').addEventListener('submit', function(event) {
            // Validasi ukuran file gambar
            var fileInput = document.getElementById('fotoProgram');
            if (fileInput.files.length > 0) {
                var fileSize = fileInput.files[0].size;
                if (fileSize > 5 * 1024 * 1024) {
                    document.getElementById('fotoError').textContent = 'Ukuran file gambar tidak boleh lebih dari 5MB';
                    document.getElementById('fotoError').style.display = 'block'; 
                    event.preventDefault();
                    return;
                } else {
                    document.getElementById('fotoError').style.display = 'none';
                }
            }
        });
        
        function removeAlerts() {
            setTimeout(function () {
                jQuery('.alert').fadeOut('fast', function () {
                    jQuery(this).remove();
                });
            }, 3000);
        }

        removeAlerts();

    </script>
</body>
</html>
